sets
sets are written in curly brackets
#can store different datatypes
#Duplicate values are not allowed
#order is retained
#indexing and slicing is possible

In [8]:
#set function
set = {1,2,3,4,5}
set

{1, 2, 3, 4, 5}

In [12]:
#set can store different datatypes
set = {1,2,3,4,"a","c","b","python","True"}
set

{1, 2, 3, 4, 'True', 'a', 'b', 'c', 'python'}

In [13]:
#adding an element to set
set = {1,2,3,4}
set.add(5)
set

{1, 2, 3, 4, 5}

In [14]:
#clear the set
set = {1,2,3,4,5}
set.clear()
set

set()

In [15]:
#finding the length of a set
set = {1,2,3,4}
len(set)

4

In [18]:
#copy of a element in set
set = {"a","b","c"}
set1 = set.copy()
set1

{'a', 'b', 'c'}

In [55]:
#Task7
#set difference method
set1 = {1,2,3,4,5,6,8,9}
set2 = {1,2,3,4,5,6}
set = set1.difference(set2)
set

{8, 9}

In [37]:
#remove an element form set using pop method
set = {1,8,5,1,3,9,4}
set.pop()
set

{3, 4, 5, 8, 9}

In [38]:
# add is used to add single iteam
set = {1,2,3}
set.add(4)
set

{1, 2, 3, 4}

In [40]:
#update list method
#the elements should be in the form of list
set = {1,2,3,4}
set.update([5,6])
set

{1, 2, 3, 4, 5, 6}

In [45]:
#discard method it removes the particular element
set = {1,2,3,4,5}
set.discard(3)
set

{1, 2, 4, 5}

In [47]:
#using union method in set
set1 = {1,2,3,4}
set2 = {5,6,7,8,9}
set3 = set1.union(set2)
set3

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [52]:
#using the intersection method
set1 = {1,2,3,4,5}
set2 = {6,7,1,8,9,4}
set3 = set1.intersection(set2)
set3

{1, 4}

In [54]:
#Task7

#sets by using symmetric difference
#it returns the elements which are present in set
#but can not return the elements which are not present in both sets
lang1 = {"python","c++","java","HTML"}
lang2 = {"HTML","CSS","javascript","c++","c"}
lang3 = lang1.symmetric_difference(lang2)
lang3

{'CSS', 'c', 'java', 'javascript', 'python'}