TUPLES
can store different datatypes
Duplicates are allowed
order is retained
indexing and slicing is possible
immutable

In [4]:
#storeing a variable in tup 
tup = (1,2,3,4,5,"True","False","python","java")
tup

(1, 2, 3, 4, 5, 'True', 'False', 'python', 'java')

In [6]:
#were order is not important
tup = (1,2,1,5,7,4,5,2,"a","b","c","d","a")
tup

(1, 2, 1, 5, 7, 4, 5, 2, 'a', 'b', 'c', 'd', 'a')

In [8]:
#cheacking the length of tuple
len(tup)

13

indexing

In [9]:
#to get the middle element
tup = (1,2,3,4,5)
tup[2]

3

In [10]:
# to get the last element
tup = (6,3,5,7,2,7,8)
tup[-1]

8

slicing

In [20]:
#to get the all elements in tuple 
tup = (1,2,3,4,5,"a","h","f","e","python","java","c++","javascript")
tup[0:13:1]

(1, 2, 3, 4, 5, 'a', 'h', 'f', 'e', 'python', 'java', 'c++', 'javascript')

In [16]:
#to get first five elements
tup[:5]

(1, 2, 3, 4, 'a')

In [18]:
#to get last five elements
tup[-5:]

('e', 'python', 'java', 'c++', 'javascript')

In [29]:
#to get middle element
tup[6:7:1]

('h',)

In [30]:
# to get alternate numbers
tup[::2]

(1, 3, 5, 'h', 'e', 'java', 'javascript')

In [38]:
#to get reverse index
tup[::-1]

('javascript', 'c++', 'java', 'python', 'e', 'f', 'h', 'a', 5, 4, 3, 2, 1)

In [68]:
#to get a and c++
tup =(1,2,3,4,5,"a","h","f","e","python","java","c++","javascript")  
tup[5:12:6]

('a', 'c++')

In [67]:
#joining of tuples
tup1 = (1,2,3,4)
tup2 = (5,6,7,8)
tup3 = tup1+tup2
tup3

(1, 2, 3, 4, 5, 6, 7, 8)

some inbuild functions in tuple

In [69]:
tup = (1,2,3,1,2,3,1,2,3)
tup

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [70]:
#count method
tup.count(1)

3

In [71]:
tup.count(2)

3

In [72]:
tup.index(1)

0

In [88]:
#converting tuple to list
tup

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [89]:
#convert to list
tup1 = list(tup)
tup1

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [90]:
list1[1] = 100
list1

[1, 100, 3, 4, 5, 6]