# Class & Objects

#Classes
#Like every other Object Oriented Programming language Python also supports classes.
#Class is like a blueprint or template for creating objects.
#class keyword is used to create classes in python

In [ ]:
#syntax of a class
"""
syntax ---->

class NameOfTheClass:
    .......

In [23]:
#ex of a fruit
class fruit:
    pass
#creating the obj for the class
fruit_obj = ()

In [ ]:
#_ init _() method
#The __init__ method is similar to constructors
#All classes have a function called _ init _()
#It is run as soon as an object of a class is created.

In [3]:
class fruit:
    def __init__(self):
        print('Inside init method')

In [4]:
fruit_obj = fruit()

Inside init method

#self parameter
 By using the “self” keyword we can access the attributes and methods of the class in python

In [6]:
class Student:
    def __init__(self,name,address,age):
        self.name = name
        self.address = address
        self.age = age

In [7]:
student1 = Student('santhosh','Hyd',24)

In [8]:
student1.age

24

In [7]:
student1.name

'santhosh'

In [8]:
student1.address

'Hyd'

In [9]:
student2 = Student('raju','vizag',25)

In [10]:
student2.age

25

In [11]:
student2.address

'vizag'

In [12]:
student2.name

'raju'

class variables and instance variables

class variables are the variables that are common to all the objects
instance variables are the variables that are specific to the particular objects

In [13]:
class student:
    #class variables
    college = 'gitam college'
    city = 'hyd' #Assumed for this example
    
    def __init__(self,name,rollno,age):
        #instance variables
        self.name = name
        self.rollno= rollno
        self.age = age

In [14]:
student1 = student("santhosh","8","23")

In [15]:
student2 = student("raju","2","21")

In [16]:
student1.name

'santhosh'

In [17]:
student1.age

'23'

In [20]:
student2.rollno

'2'

we can also access class variables by using the class name it self

In [21]:
student1.college

'gitam college'

In [22]:
student1.city

'hyd'