In [5]:
#Example
import numpy as np
import pandas as pd

In [12]:
#np array
random = np.random.randint(low = 0, high = 100,size = 20)
name = np.random.choice(['A','B','C','D','E'],size = 20)
choice = np.random.choice([10,9,8,11,12],size = 20)
#creating a dictinary
dict1= {
    'Random': random,
    'Name':name,
    'Choice':choice
}
#creating a data frame
df = pd.DataFrame(dict1)
df

    Random Name  Choice
0        9    C      11
1       41    C      11
2       68    B      12
3        6    E      11
4       63    C      12
5       79    A      10
6        5    A       8
7       87    B       8
8       55    B      11
9        6    A       8
10      52    A      10
11      22    A      12
12      21    A       9
13      11    B       8
14      92    B       9
15      66    E       8
16      73    D       9
17      81    E      11
18      99    A      10
19      16    E       8

In [13]:
#check type
type(df)

pandas.core.frame.DataFrame

In [14]:
#to get dimension or shape
df.shape

(20, 3)

In [15]:
#to get the column names
df.columns

Index(['Random', 'Name', 'Choice'], dtype='object')

In [16]:
#to get the values
df.values

array([[9, 'C', 11],
       [41, 'C', 11],
       [68, 'B', 12],
       [6, 'E', 11],
       [63, 'C', 12],
       [79, 'A', 10],
       [5, 'A', 8],
       [87, 'B', 8],
       [55, 'B', 11],
       [6, 'A', 8],
       [52, 'A', 10],
       [22, 'A', 12],
       [21, 'A', 9],
       [11, 'B', 8],
       [92, 'B', 9],
       [66, 'E', 8],
       [73, 'D', 9],
       [81, 'E', 11],
       [99, 'A', 10],
       [16, 'E', 8]], dtype=object)

In [20]:
# to get the first five rows
df.head()

   Random Name  Choice
0       9    C      11
1      41    C      11
2      68    B      12
3       6    E      11
4      63    C      12

In [21]:
#to get the frist 8 rows
df.head(8)

   Random Name  Choice
0       9    C      11
1      41    C      11
2      68    B      12
3       6    E      11
4      63    C      12
5      79    A      10
6       5    A       8
7      87    B       8

In [19]:
#to get the last 5 rows
df.tail()

    Random Name  Choice
15      66    E       8
16      73    D       9
17      81    E      11
18      99    A      10
19      16    E       8

In [22]:
#to get the last 8 rows
df.tail(8)

    Random Name  Choice
12      21    A       9
13      11    B       8
14      92    B       9
15      66    E       8
16      73    D       9
17      81    E      11
18      99    A      10
19      16    E       8

In [23]:
#information about the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Random  20 non-null     int32
 1   Name    20 non-null     object
 2   Choice  20 non-null     int32
dtypes: int32(2), object(1)
memory usage: 448.0+ bytes

In [24]:
#it will describe the only the columns which contains the numerical values
df.describe()

         Random     Choice
count  20.00000  20.000000
mean   47.60000   9.800000
std    32.83836   1.507874
min     5.00000   8.000000
25%    14.75000   8.000000
50%    53.50000  10.000000
75%    74.50000  11.000000
max    99.00000  12.000000

In [25]:
#for cheacking the individual values
df['Random'].describe()

count    20.00000
mean     47.60000
std      32.83836
min       5.00000
25%      14.75000
50%      53.50000
75%      74.50000
max      99.00000
Name: Random, dtype: float64

In [26]:
df.iloc[8,1]

'B'