In [ ]:
!pip install pandas

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#without passing index
#numpy array
arr = np.array(['a','b','c','d'])
print(arr)

In [ ]:
#creating the series using numpy array
s = pd.Series(arr)
print(s)

In [ ]:
type(s)#check the type

In [ ]:
#by passing index
#numpy array
arr = np.array(['a','b','c','d'])

#creating series
s = pd.Series(arr,index=[100,101,102,103])
s

In [ ]:
dict = {'name':'santhosh','age':'24','gender':'male'}
s = pd.Series(dict)
s

In [ ]:
s = pd.Series(6, index=[0,1,2,3,4])
s

In [ ]:
s = pd.Series([1,2,3,4,5,6,7,8,9,10])
s

In [ ]:
s[1]

In [ ]:
s[-6:]

In [ ]:
s = pd.Series([1,2,3,4,5],index= ['a','b','c','d','e'])
s

In [ ]:
s['a']

In [1]:
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [38]:
#without index
Brands = ['nokia','motorola','samsung','sony','apple','htc','lenovo','oppo','xiaomi','oneplus']
started_year = [1865,1928,1938,1946,1976,1997,1984,2004,2010,2013,]

In [39]:
#index
indexes = [1,2,3,4,5,6,7,8,9,10]

#creating dictionary
mobilesy = {"Brand":Brands,"started_year":started_year}
print(mobilesy)
df = pd.DataFrame(mobilesy,index = indexes)
df

{'Brand': ['nokia', 'motorola', 'samsung', 'sony', 'apple', 'htc', 'lenovo', 'oppo', 'xiaomi', 'oneplus'], 'started_year': [1865, 1928, 1938, 1946, 1976, 1997, 1984, 2004, 2010, 2013]}

       Brand  started_year
1      nokia          1865
2   motorola          1928
3    samsung          1938
4       sony          1946
5      apple          1976
6        htc          1997
7     lenovo          1984
8       oppo          2004
9     xiaomi          2010
10   oneplus          2013

In [40]:
df.Brand[2:5:2],started_year[2:5:2]

(3    samsung
 5      apple
 Name: Brand, dtype: object,
 [1938, 1976])

In [41]:
df.Brand[-6:],started_year[-6:]

(5       apple
 6         htc
 7      lenovo
 8        oppo
 9      xiaomi
 10    oneplus
 Name: Brand, dtype: object,
 [1976, 1997, 1984, 2004, 2010, 2013])